@import url(/public/assets/fonts/Open_Sans/);

body, html {
  font-family: "glacial", sans-serif;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(255, 255, 255);
  zoom: 1.1;
}
.container {
  text-align: center;
}

.container header {
  background-color: white;
  position: sticky;
  top: 0;
  z-index: 1000;
  box-shadow: 2.5px 2.5px 13px;
}
header{
  position: static;
  display: flex;
  justify-content: center;
  gap: 50px;
  border: 1px solid white;
  background-color: rgb(255, 255, 255);
}

.secoes-header{
  display: flex;
  align-items: center;
  gap: 25px;
  padding-left: 0px;
  list-style: none;
}
.secoes-header a{
  font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
  font-size: 15px;
  cursor:pointer;
}

.bntJuntar {
  color: white;
  margin-left: 40px;
  padding: 8px;
  border-radius: 15px;
  background-color:#0038FF;
  border: 1px solid;

}
.bntJuntar:hover{
  background-color: white;
}

h2{
  color: #0038FF;
}

img{
margin-top: 80px;
margin-bottom: 10px;
}

p{
  display: flex;
  flex-wrap: wrap;
}

section p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 27px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.665);
  background-color: rgba(0, 0, 0, 0.517);
  width: 80%;
  border-radius: 6px;
  padding: 20px;
}

.section{
  position: relative;
  display: inline-block;
}
.section .p6 p{
  position: absolute;
  top: 60%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 27px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.665);
  background-color: rgba(0, 0, 0, 0.517);
  width: 80%;
}

.section .p7{
  padding-bottom: 240px;
}
.section .p7 p{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 27px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.665);
  background-color: rgba(0, 0, 0, 0.517);
  width: 90%;
}

.mar{
  margin-top: 0px;
  display: flex;
}

.cc{
  display: flex;
  width: fit-content  ;
}

section h1{
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 120px;
  font-weight: bold;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  border: 1px solid rgba(0, 0, 0, 0.665);
  background-color: rgba(4, 36, 72, 0.234);
  width: 60%;
}

h4{
  font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  text-align: left;
  font-size: 60px;
  color: #0038FF;
  padding-left: 10px;
}

a{
  text-decoration: none;
  font-size: 24px;
  color: black;
}

a:hover{
  color: #0038FF;
}

footer{
  display: flex;
  padding: 100px;
  background: rgb(255,255,255);
  background: linear-gradient(180deg, rgba(255,255,255,1) 0%, rgba(63,121,175,0.6138830532212884) 98%);
  justify-content: space-around;
  align-items: center;

}

footer h1{
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #0038FF;
  font-size: 50px;
}
 footer h6{
  font-size: 30px;
  color: rgb(86, 86, 88);
 }
footer ul li{
  font-size: 20px;
  display: flex;
  flex-direction: column;
  margin-top: 10px;
}
